{% extends 'layout/base.html' %}

{% block titulo %}
    Lista de Productos
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Lista de Productos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id_producto }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>${{ producto.precio }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>
                            <!-- Botón de Editar -->
                            <a href="{% url 'editar_producto' producto.id_producto %}" class="btn btn-warning">Editar</a>
                            <!-- Botón de Eliminar -->
                            <a href="{% url 'eliminar_producto' producto.id_producto %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
