{% extends 'layout/base.html' %}

{% load static %}

{% block titulo %}
Productos Electronicos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/catalogo.css' %}">
{% endblock %}

{% block body %}
<nav class="superior">
    <ul class="menu_superior">
        <li class="a_superior">
            <a href="{% url 'aggproducto' %}" class="aggpro" id="no_sub">Agregar Productos</a>
        </li>
        <li class="a_superior">
            <a href="" class="carro" id="no_sub">
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li>
            <a href="{% url 'cerrar_se' %}" class="salir" id="no_sub">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="product-grid">

    {% for producto in productos %}
        {% if producto.id_producto %}
            <div class="producto-card">
                <i class="bi bi-trash3"></i>
                <img src="{{ producto.imagen1.url }}" alt="{{ producto.nombre }}" class="producto-imagen">
                <div class="producto-info">
                    <p class="nombrepro">{{ producto.nombre }}</p>
                    <p class="preciopro">Precio: ${{ producto.precio }}</p>
                    <p class="cantidadpro">Cantidad: {{ producto.cantidad }}</p>
                </div>
                <a href="{% url 'detalle_producto' producto.id_producto %}" class="ver-producto-btn">Ver Producto</a>
            </div>
        {% else %}
            <p>Error: Producto sin ID</p>
        {% endif %}
    {% endfor %}

</div>


{% endblock %}

